<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Profile Muhammad Aditya Madjid</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='/vendors/themify-icons/css/themify-icons.css') }}">

 <!-- Vendor CSS Files -->
 <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
 <link href="/static/vendor/aos/aos.css" rel="stylesheet">
 <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
 <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

 <!-- Main CSS File -->
 <link href="/static/css/main.css" rel="stylesheet">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='/img/logo.png') }}" rel="icon">
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="#" class="logo d-flex align-items-center">
        <h1 class="sitename">Aditya Madjid</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#profile" class="active">Home<br></a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#resume">Resume</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <section id="profile" class="hero section dark-background">
      <img src="{{ url_for('static', filename='/img/landscape.jpeg') }}" alt="" data-aos="fade-in">
      <div class="container d-flex flex-column align-items-center justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
        <h2>Hallo!! Saya Muhammad Aditya Madjid</h2>
        <p><span class="typed" data-typed-items="Fullstack, Gaming, Racing, Android Developer"></span></p>
      </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-md-6">

            <div class="row justify-content-between gy-4">
              <div class="col-lg-5">
                <img src="{{ url_for('static', filename='/img/DITS.png') }}" class="img-fluid" alt="">
              </div>
              <div class="col-lg-7 about-info">
                <p><strong>Name: </strong> <span>Muhammad Aditya Madjid</span></p>
                <p><strong>Profile: </strong> <span>Ungraduated Mahasiswa Amikom</span></p>
                <p><strong>Email: </strong> <span>muhammadadityamadjid@students.amikom.ac.id</span></p>
                <p><strong>Phone: </strong> <span>0813-1776-6537</span></p>
              </div>
            </div>

            <div class="skills-content skills-animation">

              <h5>Skills</h5>

              <div class="progress">
                <span class="skill"><span>React Js</span> <i class="val">95%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->

              <div class="progress">
                <span class="skill"><span>Next Js</span> <i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->

              <div class="progress">
                <span class="skill"><span>Laravel</span> <i class="val">80%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->

              <div class="progress">
                <span class="skill"><span>Flask</span> <i class="val">79%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->

            </div>
          </div>

          <div class="col-md-6">
            <div class="about-me">
              <h4>About me</h4>
              <p>
                Saya adalah anak kedua dengan nama Muhammad Aditya Madjid kelahiran 22 Desember 2003 di Sleman, Yogyakarta. Saya
                tinggal di Jetis, Yogyakarta bersama 4 keluarga saya
              </p>
              <p>
                Keahlian saya itu membuat FullStack development web serta memulai mempelajari Flutter mobie development
              </p>
              <p>
                Hobi saya ialah bermain game, racing, serta bermain gitar
              </p>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Sumary</h3>

            <div class="resume-item pb-0">
              <h4>Agama</h4>
              <p><em>Saya seorang islam yang taat, selalu mengikuti sholat jumat dan kadang mengaji. Selain itu saya sangat suka membantu orang tua saya.</em></p>
              <ul>
                <li>Yogyakarta, Indonesia</li>
                <li>081317766537</li>
                <li>muhammadadityamadjid@students.amikom.ac.id</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>

            <div class="resume-item">
              <h4>Mahasiswa Amikom Yogyakarta &amp; Fakultas Ilmu Komputer</h4>
              <h5>2022- Present</h5>
              <p><em>Amikom University Yogyakarta, Yogyakarta, Indonesia</em></p>
              <p>Terletak di Condongcatur, Sleman, Daerah Istimewa Yogyakarta</p>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Hobi dan Kerjaan</h3>
            <div class="resume-item">
              <h4>Bermain Alat Musik</h4>
              <h5>2018- Present</h5>
              <p><em>Di Rumah </em></p>
              <ul>
                <li>Suka genre dangdut, pop, pop punk, dan metal</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Service HP dan Oprek</h4>
              <h5>2020- Present</h5>
              <p><em>Panggilan</em></p>
              <ul>
                <li>Menerima pemasangan dan penginstalan root hp serta tuyul ojol.</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Bermain Futsal</h4>
              <h5>dari lahir hingga sekarang</h5>
              <p><em>Lapangan</em></p>
              <ul>
                <li>Bermain bola bersama teman teman saya</li>
              </ul>
            </div>
          </div>

        </div>

      </div>

    </section>



    <section id="stats" class="stats section accent-background">

      <img src="assets/img/stats-bg.jpg" alt="" data-aos="fade-in">

      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="--" data-purecounter-duration="0" class="purecounter">Lupa</span>
              <p>Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="0" class="purecounter">10+</span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="2500" data-purecounter-duration="0" class="purecounter">2500</span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="6" data-purecounter-duration="0" class="purecounter">6</span>
              <p>Awards</p>
            </div>
          </div>

        </div>

      </div>

    </section>


    
    <section id="contact" class="contact section">

    
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Dapat hubungi saya</p>
      </div>

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="info-wrap" data-aos="fade-up" data-aos-delay="200">
          <div class="row gy-5">

            <div class="col-lg-4">
              <div class="info-item d-flex align-items-center">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Address</h3>
                  <p>Jl. RW Monginsidi No.1 Yogyakarta</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="info-item d-flex align-items-center">
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Call Us</h3>
                  <p>081317766537</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="info-item d-flex align-items-center">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Email Us</h3>
                  <p>muhammadadityamadjid@students.amikom.ac.id</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="300">
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
            </div>

            <div class="col-md-6 ">
              <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
            </div>

            <div class="col-md-12">
              <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
            </div>

            <div class="col-md-12">
              <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>

              <button type="submit">Send Message</button>
            </div>

          </div>
        </form>


      </div>

    </section>

  </main>

  <footer id="footer" class="footer accent-background">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Muhammad Aditya Madjid</strong> <span>All Rights Reserved</span></p>
      </div>
      <div class="social-links d-flex justify-content-center">
        <a href="https://www.linkedin.com/in/muhammad-aditya-madjid-45572a30a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="credits">
        Designed by <a href="">For Responsi</a>
      </div>
    </div>

  </footer>

  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>
  <script src="/static/vendor/aos/aos.js"></script>
  <script src="/static/vendor/typed.js/typed.umd.js"></script>
  <script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="/static/js/main.js"></script>


</body>

</html>